body { 
  display: flex;
  background-color: rgb(241, 235, 227);
  font-family: Arial, sans-serif; 
  color: rgb(70, 71, 83); 
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: inline-flex;
  flex-direction: row;
  background-color: rgb(181, 188, 223);
  height: 60px;
  width: 100%;
  justify-content: space-between;
  align-items: center; 
}

header div {
  display: inline-flex;
  align-items: center; 
}

button {
  background-color: rgb(94, 99, 163);
  color: rgb(241, 235, 227);
  padding: 10px 20px; 
  border: none; 
  cursor: pointer; 
  transition: 0.2s; 
  
}

.ico {
  height: 30px;
  margin: 10px;
  border-radius: 50%;
}

.home {
  display: inline-flex;
  margin: 10px;
  justify-content: center;
  height: 70%;
}

#main_ico_1 {
  height: 40%;
  margin-top: 50px;
  margin-right: 50px;
}



.home div {
  display: block;
}

.home h1 {
  position: absolute;
  justify-self: center;
}